<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ url_for('static', filename='/css/layui.css') }}" rel="stylesheet">
    <style>
        body{
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="layui-bg-gray" style="padding: 15px;">
        <div class="layui-card">
            <div class="layui-card-header">编辑学生</div>
            <div class="layui-card-body">
                <form class="layui-form layui-form-pane" action="/student" method="POST">
{#                姓名#}
                <div class="layui-form-item">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" value="{{ stu_data['name'] }}" placeholder="请输入" lay-verify="required" autocomplete="off" lay-affix="clear" class="layui-input">
                    </div>
                </div>
{#                年龄#}
                <div class="layui-form-item">
                    <label class="layui-form-label">年龄</label>
                    <div class="layui-input-inline">
                        <label>
                            <input type="number" name="age" min="0" max="100" value="{{ stu_data['age'] }}"  placeholder="请输入" lay-verify="required" autocomplete="off" class="layui-input">
                        </label>
                    </div>
                </div>

{#                性别#}
                <div class="layui-form-item">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="男" title="男" {% if stu_data['sex'] =='男' %}checked{% endif %}>
                        <input type="radio" name="sex" value="女" title="女" {% if stu_data['sex'] =='女' %}checked{% endif %}>
                    </div>
                </div>
{#                班级#}
                <div class="layui-form-item">
                    <label class="layui-form-label">班级</label>
                    <div class="layui-input-inline">
                        <select name="class_id">
                            <option value=""></option>
                            {% for item in class_data %}
                                <option value="{{ item.class_id|int }}" {% if item.class_id == stu_data['c_id']|int %}selected{% endif %}>{{item.class_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- 隐藏的 ID 字段 -->
                <input type="hidden" name="s_id" value="{{ stu_data['s_id'] }}">

                <div class="layui-form-item">
                <button class="layui-btn" lay-submit>确认</button>
                <button type="botton" class="layui-btn layui-btn-primary"><a href="/student">取消</a></button>
                </div>
            </form>
            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static',filename='/layui.js') }}"></script>
<script>

</script>
</html>